todoapp/target/
todoapp/.vscode/
todoapp/HELP.md
todoapp/.idea
todoapp/*.iws
todoapp/*.iml
todoapp/*.ipr
todoapp/.apt_generated
todoapp/.classpath
todoapp/.factorypath
todoapp/.project
todoapp/.settings
todoapp/.springBeans
todoapp/.sts4-cache